### Elsa RUELLE - Saphya EL OUAHABI

# Data normalization of the datasets

In [1]:
import pandas as pd
smin=0.1
smax=0.9
def norm(df_input):
    return(smin+((smax-smin)/(df_input.max() - df_input.min()))*(df_input - df_input.min()))

### Turbine dataset:

In [2]:
df_1 = pd.read_csv('Raw_datasets/A1-turbine.txt', sep="\t")

In [3]:
columns= df_1.columns
for col in columns:
    df_1[col]=norm(df_1[col])
df_1

,#height_over_sea_level,fall,net_fall,flow,power_of_hydroelectrical_turbine
0,0.776923,0.756925,0.779005,0.166667,0.219965
1,0.858974,0.838102,0.857446,0.166667,0.230125
2,0.325641,0.324252,0.321106,0.566667,0.396961
3,0.264103,0.263369,0.262275,0.566667,0.364292
4,0.900000,0.869153,0.853033,0.766667,0.815860
...,...,...,...,...,...
446,0.387179,0.390411,0.402194,0.233333,0.194879
447,0.715385,0.684475,0.662814,0.900000,0.783981
448,0.428205,0.402385,0.401998,0.766667,0.548486
449,0.530769,0.506900,0.517208,0.566667,0.497467
450,0.489744,0.470370,0.496617,0.300000,0.274483

In [4]:
df_1.to_csv('Normalized_datasets/A1-turbine-norm.csv',index=False)

### Synthetic dataset:

In [5]:
df_2 = pd.read_csv('Raw_datasets/A1-synthetic.txt', sep="\t")

In [6]:
columns= df_2.columns
for col in columns:
    df_2[col]=norm(df_2[col])
df_2

,#v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,0.799468,0.316920,0.875556,0.784902,0.399795,0.815476,0.431940,0.1,0.763818,0.697296
1,0.532987,0.858026,0.474259,0.173838,0.486006,0.697974,0.447287,0.1,0.274469,0.380530
2,0.241112,0.487588,0.290751,0.208989,0.498683,0.650699,0.505773,0.9,0.141820,0.290129
3,0.134537,0.704077,0.840144,0.741006,0.635589,0.547599,0.612673,0.1,0.760073,0.751813
4,0.167309,0.146854,0.352132,0.104731,0.414530,0.513940,0.466603,0.1,0.167372,0.228512
...,...,...,...,...,...,...,...,...,...,...
995,0.530604,0.326942,0.830378,0.875883,0.448747,0.713702,0.477965,0.1,0.690142,0.671716
996,0.379717,0.755893,0.891027,0.687270,0.678281,0.720832,0.646150,0.1,0.862415,0.851697
997,0.527849,0.427743,0.739327,0.837001,0.502793,0.273327,0.518109,0.1,0.562975,0.660521
998,0.859810,0.208871,0.148852,0.170853,0.480411,0.594498,0.523202,0.1,0.102578,0.212467
999,0.657365,0.896423,0.260598,0.146932,0.474014,0.417969,0.430557,0.1,0.132412,0.311305

In [7]:
df_2.to_csv('Normalized_datasets/A1-synthetic-norm.csv',index=False)

### Insurance dataset:

In [8]:
df_3 = pd.read_csv('Normalized_datasets/insurance_dataset_1.csv')

In [9]:
columns= df_3.columns
for col in columns:
    df_3[col]=norm(df_3[col])
df_3

           age       bmi  children  smoker   charges  IsFemale  IsMale
0     0.117391  0.410231      0.10     0.9  0.478113       0.9     0.1
1     0.100000  0.562748      0.26     0.1  0.114481       0.1     0.9
2     0.273913  0.542741      0.58     0.1  0.179820       0.1     0.9
3     0.360870  0.275252      0.10     0.1  0.600438       0.1     0.9
4     0.343478  0.435693      0.10     0.1  0.165845       0.1     0.9
...        ...       ...       ...     ...       ...       ...     ...
1188  0.656522  0.489997      0.58     0.1  0.327368       0.1     0.9
1189  0.100000  0.514680      0.10     0.1  0.126005       0.9     0.1
1190  0.100000  0.642774      0.10     0.1  0.112185       0.9     0.1
1191  0.152174  0.355667      0.10     0.1  0.121254       0.9     0.1
1192  0.847826  0.440630      0.10     0.9  0.772112       0.9     0.1

[1193 rows x 7 columns]

In [10]:
df_3.to_csv('Normalized_datasets/insurance_dataset_norm.csv',index=False)